# Copyright (c) 2025 Embeint Pty Ltd
#
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_NAND
	bool "SPI NAND Flash"
	default y
	depends on DT_HAS_JEDEC_SPI_NAND_ENABLED
	select FLASH_HAS_DRIVER_ENABLED
	select FLASH_HAS_EXPLICIT_ERASE
	select FLASH_HAS_PAGE_LAYOUT
	select FLASH_HAS_EX_OP
	select SPI
	select CRC

if SPI_NAND

config SPI_NAND_INIT_PRIORITY
	int "Init priority"
	default 80
	help
	  Device driver initialization priority. Device is connected to
	  SPI bus, it has to be initialized after SPI driver.

config SPI_NAND_SOFTWARE_ECC
	bool "Software ECC for SPI NAND flash"
	help
	  Enable this option to use software-based ECC (Error Correction Code)
	  when accessing SPI NAND flash devices. This is useful for platforms
	  that do not support hardware ECC, or when additional software control
	  over ECC handling is required.

config SPI_NAND_ECC_STEP_SIZE
	int "ECC step size (bytes)"
	default 512
	depends on SPI_NAND_SOFTWARE_ECC
	help
	  Specifies the ECC (Error Correction Code) step size in bytes for SPI NAND
	  flash operations. This value determines how many bytes of data are protected
	  by one ECC block.

endif # SPI_NAND
